<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5">
    <title>Turnos en Atención</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'App_QR/css/pantalla_publica.css' %}">
</head>
<body>
    <div class="header">TURNOS</div>
    <div class="main-content">
        <div class="en-atencion">
            {% for turno in turnos_en_atencion %}
                <h1>{{ turno.codigo }}</h1>
            {% empty %}
                <h1>--</h1>
            {% endfor %}
        </div>
        <div class="ultimos-llamados">
            <h2>Últimos Llamados</h2>
            {% for turno in ultimos_atendidos %}
                <div class="turno-historico">{{ turno.codigo }}</div>
            {% endfor %}
        </div>
    </div>
</body>
</html>